# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (optional, uncomment if you don't want it in Git)
# .vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android Studio build output
/android/app/debug
/android/app/profile
/android/app/release

# Symbolication and obfuscation
app.*.symbols
app.*.map.json

# ENV and Secret Config Files (Important!)
.env
.env.*
assets/.env
assets/config.json
*config.json

# Firebase logs
firebase-debug.log
